<div class="container">
  <div class="video-container">
    <video #videoElement></video>
  </div>

  <!-- Buttons -->
  <div class="buttons-container">
    <button (click)="start()" class="button-class">
      <mat-icon>play_arrow</mat-icon>
      Play
    </button>
    <button (click)="toggle()" class="button-class">Toggle</button>
    <button (click)="pause()" class="button-class">Pause</button>
    <button (click)="resume()" class="button-class">Resume</button>
    <button (click)="sound()" class="button-class">Play with Sound</button>
  </div>
</div>